.blog {
    @apply relative md:flex-1 w-full;
}

.blog h1 {
    @apply text-4xl font-bold text-main;
    scroll-margin-top: calc(100px + 2.5em);
    margin: 1rem 0;
}

.blog h2 {
    @apply text-3xl font-semibold text-main;
    scroll-margin-top: calc(100px + 2.5em);
    margin: 1rem 0;
}

.blog h3 {
    @apply text-2xl font-semibold text-main;
    scroll-margin-top: calc(100px + 2.5em);
    margin: 1rem 0;
}

.blog p {
    @apply text-main text-lg;
    padding: 3px 2px;
    margin: 10px 0;
}

.blog a {
    @apply text-main border-b border-main;
    text-decoration: none;
    transition: border-bottom 0.2s ease;
}
.blog ul {
    margin: 1rem 0;
    padding: 0 0 0 1rem;
}
.blog li {
    margin: 0.5rem 0;
    list-style-type: disc;
}
.blog li > p {
    margin: 0.5rem 0;
}
.blog li::marker {
    @apply text-main;
}
.blog hr {
    border: 0;
    height: 1px;
    background: #000;
    margin: 2rem 0;
}

.blog blockquote {
    @apply p-4 my-4 text-gray-700 bg-gray-200 border-l-4 border-main rounded;
}

.blog pre {
    @apply p-4 my-4 text-gray-700 bg-gray-200 rounded;
}


.blog img {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog [data-youtube-video] {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}