@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

body::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}

summary {
  list-style: none;
}